.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px;
}

.searchbar {
  float: right;
}

.botones {
  /* display: block; */
  /* color: rgb(0, 0, 0); */
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  /* width: 10%; */
  border-radius: 10px;
  /* background: rgb(14, 163, 14); */
  color: #fff;
  border: #fff;
  background-color: #0d11fa63;
}

.botones:hover:not(.active) {
  background-color: #23ce1d36;
}

.active {
  background-color: #04AA6D;
}





