.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px;
}

.searchbar {
  float: right;
}

.botones {
  display: block;
  color: rgb(252, 9, 9);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  /* display: block;
  font-family: sans-serif;
  color: rgba(18, 88, 240, 0.178);
  text-align: center;
  padding: 14px 16px;
  border-radius: 10px; */
  background-color: #0d11fa63;
}

.botones:hover:not(.active) {
  background-color: #23ce1d36;
}

.active {
  background-color: #04AA6D;
}





