
  .card {

    width: 200px;
    border-radius: 5px;
    margin-bottom: 0px;
    border: 1px solid #000000;
    background-color: rgba(252, 251, 253, 0.638);
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
  }
  
  .cardImage {
    width: 100%;
  }
  
  * {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
  }
  
  .name {
    font-family: "rmFont";
    display: flex;
    justify-content: center;
    color: #00eeff;
    text-shadow: -2px 1px 4px rgba(49, 255, 0, 0.6);
    z-index: 50;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  }
  
  .details {
    width: 100%;
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Courier New", Courier, monospace;
    
    color: #000000;
  }
 
  
  .card_favorite {
    width: 18px;
    top: 10px;
    right: 10px;
    border: 1px solid #f70a0a;
    background-color: rgba(252, 251, 253, 0.638);
  }
  .card_close {
    width: 38px;
    top: 20px;
    right: 80px;
    border: 1px solid #f70a0a;
    background-color: rgba(252, 251, 253, 0.638);
  }
  


