.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px;
}

.searchbar {
  float: right;
}

.botones {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  border-radius: 10px;
  /* float: left; */
  border: 0px solid #000000;
  background-color: #5e4dcd;
}

.botones:hover:not(.active) {
  background-color: #23ce1dc7;
}

.active {
  background-color: #04AA6D;
}





